body {
    font-family: 'Times New Roman', serif;
    background-color: #f2d8d0; /* Soft pink background */
    background-size: cover;
    background-repeat: no-repeat;
    color: #663399; /* Deep purple text color */
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  header {
    font-size: 24px;
    color: #993366; /* Lighter purple for header */
    margin-bottom: 20px;
    border-bottom: 2px solid #ff6699; /* Add a light pink border */
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #safeTimerDisplay {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100px;
    background-color: #f2d8d0; /* Soft pink background */
    border: 2px solid #993366; /* Deep purple border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    font-size: 30px;
    color: #f64781; /* Bright pink for timer */
    font-weight: bold;
    padding: 20px;
    line-height: 50px;
  }

  p {
    font-size: 26px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: justify;
  }

  .ga-maamli-regular {
    text-align: center;
    font-size: 26px;
    font-family: "Ga Maamli", sans-serif;
  }
  
  .caveat-regular {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
  }

  .oswald-regular{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
  }

  .great-vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 1px solid #663399;
  }
  